*{
    margin: 6;
    padding: 2;
    box-sizing: border-box;
}
.btn{
    display: inline-block;
    background-color: coral;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    transition: background
}
.btn:hover{
    background: coral;
}
.categories{
    margin: 30px 0;
}
.col-2{
    flex-basis: 30%;
    min-width: 50px;
    margin-bottom: 20px;
}
.col-2 img{
    width: 20%;
}
.small-container{
    max-width: 1080px;
    margin: auto;
    padding-left: 20px;
    padding-right: 20px;
}

